@import "/src/data/styles.css";

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #383636;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 0, 0);
}

html {
  background-color: #ffe9f4;
}

.page-content {
  background-color: #ffe9f4;
  position: relative;
}

.page-content:before,
.page-content:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc((100% - 1200px) / 2);
  background-color: #fafafa;
  border: 1px solid #f4f4f5;
}

.page-content:before {
  left: 0;
  z-index: 1;
  background-color: black;
}

.page-content:after {
  right: 0;
  z-index: 1;
  background-color: black;
}

.content-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.title {
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-size: 25px;
  font-weight: 700;
  width: 70%;
}

.subtitle {
  padding-top: 10px;
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 28px;
  width: 70%;
  margin-top: 25px;
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.btn_blue {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 600;
  color: black;
  background: #fff;
  height: 24px;
  padding: 0 10px;
  border-radius: 3px;
  border: 1px solid black;
  cursor: pointer;
}

.btn_blue_two {
  font-size: 13px;
  font-weight: 600;
  color: black;
  background: #fff;
  height: 24px;
  padding: 0 10px;
  border-radius: 3px;
  border: 1px solid black;
  cursor: pointer;
}

@media (max-width: 1270px) {

  .page-content:before,
  .page-content:after {
    width: calc((100% - 90%) / 2);
  }

  .content-wrapper {
    max-width: 90%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (max-width: 1024px) {

  .page-content:before,
  .page-content:after {
    width: calc((100% - 950px) / 2);
  }

  .content-wrapper {
    max-width: 980px;
  }
}

@media (max-width: 800px) {
  .content-wrapper {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 10px;
  }

  .page-content:before,
  .page-content:after {
    display: none;
  }

  .title {
    width: 100%;
  }

  .subtitle {
    width: 100%;
  }
}


.homepage-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffe9f4;
}

.homepage-container {
  padding-top: 25px;
  background-color: #ffe9f4;
}

.homepage-first-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homepage-first-area-left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.homepage-divide-row-area {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.homepage-divide-col-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-title {
  width: 85% !important;
}

.inputarea {
  resize: none;
  border: solid black;
  overflow-y: hidden;
  border-radius: 15px;
  padding: 10px 5px 5px 10px;
}

.inputarea:focus {
  outline: 0;
}

.inputarea::-webkit-scrollbar {
  display: none;
  width: 10px;
}
.inputarea::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  /* background-clip: padding-box; */
  /* border: 2px solid transparent; */
  border: 7px solid rgba(0,0,0,0.8);
}
.inputarea::-webkit-scrollbar-track {
  /* background-color: grey; */
  background-color: rgba(0,0,0,0);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

.homepage-subtitle {
  width: 85% !important;
}

.homepage-first-area-right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.homepage-after-title {
  display: flex;
}

.inputtag {
  padding: 5px;
  border-radius: 10px;
  border: solid black;
}

@media (max-width: 1024px) {
  .homepage-first-area {
    /* flex-direction: column; */
    justify-content: space-between;
      align-items: center;
  }

  .homepage-first-area-left-side {
    display: flex;
    flex-direction: column;
    /* Changed: set direction to column */
    align-items: flex-start;
    width: 100%;
    margin-right: 25px;
    order: 2;
  }

  .homepage-title {
    width: 100% !important;
    /* margin-top: 20px; */
    order: 2;
  }

  .inputarea {
    resize: none;
    overflow-y: auto;
  }

  .sohee {
    order: 3;
  }

  .homepage-subtitle {
    width: 100% !important;
    margin-top: 10px;
    /* order: 3; */
  }

  .homepage-first-area-right-side {
    order: 2;
  }

  .homepage-after-title {
    flex-direction: column;
  }
}